@page "/activiteit/geschiedenis"
@using ModelLibrary.Models
@using ModelLibrary.Dto
@using Newtonsoft.Json
@using Components.Pages.Bencher
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IDialogService DialogService
@inject AuthService auth

<PageTitle>Activiteiten geschiedenis</PageTitle>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
        @ErrorMessage
    </MudAlert>
}

@if (currentUserId == currentManagerUserId.ToString() || rol == "admin" || rol == "manager")
{
    <MudText Typo="Typo.subtitle1">Hier kun je de activiteitgeschiedenis van een bencher opzoeken via zijn email.</MudText>
    <MudItem xs="12" sm="6" md="6">
        <div style="display: flex; align-items: center;">
            <MudTextField @bind-Value="searchedUserMail" Label="Email" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Email" style="flex-grow: 1; margin-right: 8px;"></MudTextField>
            <MudButton OnClick="@getHistoryEmail" Color="Color.Primary" Variant="Variant.Filled">ZOEKEN</MudButton>
            <MudButton Class="m-1" OnClick="@CurrentUserBenchHistory" Variant="Variant.Filled" Color="Color.Primary">Mijn activiteiten</MudButton>

        </div>
    </MudItem>

    <MudNumericField hidden @bind-Value="@BenchId" Variant="Variant.Outlined" HideSpinButtons />
}

@if (occupationHistories.Any())
{
    <MudTable Items="@occupationHistories" Dense="true" Hover="true" Striped="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Occupation Histories</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Activiteit</MudTh>
            <MudTh>Start Date</MudTh>
            <MudTh>End Date</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Occupation Type">@context.OccupationType</MudTd>
                <MudTd DataLabel="Start Date">@context.StartDate.ToString("dd-MM-yyyy")</MudTd>
                <MudTd DataLabel="End Date">@context.EndDate?.ToString("dd-MM-yyyy")</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Filled.Edit" OnClick="@(e => EditRecord(context))" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{5, 10, 15}" RowsPerPageString="Rijen per pagina" />
            </PagerContent>
        </MudTable>
}
else
{
    <MudAlert Class="mt-3" Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
        Je hebt nog geen activiteitengeschiedenis, of je staat momenteel niet op de bench.
    </MudAlert>
}
