@page "/activiteit"
@rendermode InteractiveServer
@using ModelLibrary.Models
@using ModelLibrary.Dto
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthService auth

<PageTitle>Activiteit selectie</PageTitle>


@if (occupations.Any())
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1>Welke activiteit ga je starten?</h1>

                        <form action="#">
                            <div class="mb-3">
                                <label for="benchId" class="form-label">Bench ID:</label>
                                <input type="number" class="form-control" id="benchId" @bind="benchId">

                                <label for="activiteiten" class="form-label">Kies een activiteit:</label>
                                <select class="form-select" id="activiteiten" @bind="selectedOccupationType">
                                    @foreach (var occupation in occupations)
                                    {
                                        <option value="@occupation.Type">@occupation.Type</option>
                                    }
                                </select>
                            </div>


                            <MudButton OnClick="UpdateOccupation" FullWidth="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Opslaan</MudButton>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
            <aside id="cardContainer">
                    @foreach (var occupation in occupations)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2>@occupation.Type</h2>
                                <p>@occupation.Remark</p>
                            </div>
                        </div>
                    }
				</aside>
			</div>
        </div>
    </div>
}
else if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <h1>@ErrorMessage</h1>
}
else
{
    <h1>Geen activiteiten, probeer later opnieuw.</h1>
}
