@page "/home"
@using ModelLibrary.Models
@using ModelLibrary.Dto
@using ModelLibrary.ViewModels
@using Newtonsoft.Json
@using Helper
@inject HttpClient Http
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthService auth
@inject IDialogService DialogService

<PageTitle>Dashboard</PageTitle>

@if (currentUserId == currentManagerUserId.ToString() || rol == "admin" || rol == "manager")
{
<div class="btnToevoegenMobile">
    <MudButton Href="/toevoegen" FullWidth="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.PersonAdd" Color="Color.Primary">Toevoegen</MudButton>
</div>

<div id="btnToevoegenComputer">
    <MudFab Href="/toevoegen" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
</div>

<MudGrid>
    <MudItem xs="12">
        <div class="card border-1 shadow-hover mb-20">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="pr-3">
                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Default" Size="Size.Large" />
                    </div>
                    <div>
                        <h5 class="mb-1">@managerName</h5>
                        <p class="mb-0 text-muted">Bench manager</p>
                    </div>
                </div>
                    @if (rol == "admin" || rol == "manager")
                    {
                        <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit">
                          Wijzigen
                          </MudButton>  
                    }
                    
            </div>
        </div>
    </MudItem>
</MudGrid>

@if (usersOpBench != null && usersOpBench.Count > 0)
{
        <MudContainer Style="max-height: 550px; width: 1,8rem; overflow-y: scroll; margin-top: 10px">
    @foreach (var userBench in usersOpBench)
    {
        <div class="col-md-12" id="userContainer">
            <div @onclick="() => NavigateUserPage(userBench.UserId)" id="userContainer" class="card border-1 shadow-hover mb-20">
                <div class="card-body d-flex align-items-center">
                    <div class="pr-3">
                        <MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Default" Title="Person" Size="Size.Large" />
                    </div>
                    <div>
                        
                        <h5 class="mb-1">@userBench.Username</h5>
                        <p class="mb-0 text-muted"><MudIcon Color="Color.Primary" Size="Size.Small" Icon="@Icons.Material.Filled.Email" Title="Email" />@userBench.Mail</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <strong>Bench started:</strong>
                        <span>@userBench.StartBench.ToString("dd-MM-yyyy")</span>
                        <div>
                            <strong>Dagen op de bench:</strong> @DateHelper.CalculateDaysSince(userBench.StartBench)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
        </MudContainer>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
}
else
{
    <MudAlert Class="mt-3" Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
        <h4 class="alert-heading">De bench is leeg.</h4>
        <p>Er staat momenteel niemand op de bench.</p>
    </MudAlert>
    }
} else
{
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            U hebt niet de rechten om deze pagina te bekijken.
        </div>
    </div>
}
