@page "/toevoegen"
@using ModelLibrary.Dto
@using System.Text.Json
@using System.Text;
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject ISnackbar Snackbar
@inject AuthService auth

@if (currentUserId == currentManagerUserId.ToString() || rol == "admin" || rol == "manager")
{
    <MudButton Href="/home" FullWidth="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Terug</MudButton>

    <div class="card-body border-1 shadow-hover mb-20 rounded border border-primary mt-3">
        <EditForm Model="@formModel" OnSubmit="@Submit" Context="EditContext">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="Email">Zoek gebruiker op email:</label>
            <div class="form-group d-flex">
                <div class="input-group mb-3">
                    <InputText id="Email" class="form-control" placeholder="email.." @bind-Value="@formModel.Email" />
                </div>
                <MudButton id="zoekBtn" class="mb-3" @onclick="@PerformSearch" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Color="Color.Primary"></MudButton>

            </div>
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ErrorMessage
                </div>
            }
            @if (suggestedUsers.Any())
            {
                <MudPaper Width="300px">
                    <MudList Clickable="true">
                        @foreach (var user in suggestedUsers)
                        {
                            <MudListItem @onclick="() => SelectUser(user)" Text="@user.Email" />
                        }
                    </MudList>
                </MudPaper>
            }
            else if (searchPerformed && !string.IsNullOrWhiteSpace(formModel.Email) && selectedUser == null)
            {
                <p>Geen gebruikers gevonden.</p>
            }
            <div class="form-group">
                <label for="StartBench">Begindatum</label>
                <InputDate id="StartBench" class="d-block p-2 w-100 border-1 border-bottom-1 rounded border" @bind-Value="@formModel.StartBench" />
            </div>
            <MudButton Class="mt-3" ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Save</MudButton>
        </EditForm>
    </div>
} else
{
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            U hebt niet de rechten om deze pagina te bekijken.
        </div>
    </div>
}
